@font-face {
    font-family: 'SourceHanSansCN-Normal';
    src: url('https://static.xxxxxx.com/a961763dcf9872d6ffc7ce14d8169c652413cc7f9c54ef8e0db619fd8fe191d3');
    font-weight: normal;
    font-style: normal;
}
